@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,32,154,1) 92%, rgba(83,226,255,1) 100%);

  color: azure;
}